@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.createListBtn {
    background-color: #C58882;
    margin: auto;
    margin-top: 25px;
    padding: 5px 20px;
    display: block;
    border-radius: 50px;
    font-size: 16pt;
    font-family: 'Inter', sans-serif;
    color: #644536;
}

.modalDialog {
    background-color: rgba(100, 69, 54, 0.3);
}

div.modalContent {
    background-color: #F4EEE4;
    color: #644536;
    font-family: 'Inter', sans-serif;
}

.form-control[placeholder] {
    background-color: rgba(100, 69, 54, 0.5);
}

button.saveBtn {
    background-color: #C58882;
    border: solid 0.5px #644B36;
    color: #644536;
    font-family: 'Inter', sans-serif;
}

button.saveBtn:hover {
    background-color: #e8b0ab;
    border: solid 0.5px #644B36;
    color: #644536;
    font-family: 'Inter', sans-serif;
}

.modalFooter > button.saveBtn:active {
    background-color: #C58882;
    border: solid 0.5px #644B36;
    color: #644536;
    font-family: 'Inter', sans-serif;
}

input.modalInput{
    border-color: #644536;
}

input.modalInput:focus{
    border-color: #644536;
    box-shadow: 0 0 0 .25rem rgba(162, 96, 60, 0.25);;
}

input.modalInput::placeholder {
    color:#644536a9;

}

.modalContent > div.modalFooter,
.modalContent > .modalHeader{
    border-color: #795442;
}
