.shelf {
    background-color: #E3D3BA;
    border-radius: 0.24rem;
    box-shadow: 0px 9px 12px -3px rgb(100, 75, 54);
    height: 0.9rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 15px;
}

.bookRow {
    min-height: 9.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 10%;
}

.cover {
    max-height: 175px;
}

.bookItem {
    position: relative;
    max-width: 100%;
}

.bookItem button {
    position: absolute;
    top: 0;
    right: 0;

    background-color: #C58882;
    color: #644536;
    display: flex;
    justify-content: center;
    margin: 0.3rem;
    width: 1.2rem;
    border-radius: 0.3rem;
}

.savedList {
    display: flex;
    flex-direction: column;
    row-gap: 60px;
    justify-content: space-evenly;
    padding: 20px 2%;
    min-height: 9.5rem;
}

@media screen and (max-width: 900px) {
    .cover {
        max-height: 150px;
    }
}

@media screen and (max-width: 500px) {
    .cover {
        max-height: 120px;
    }

    .bookRow {
        min-height: 8rem;
    }

    .savedList {
        min-height: 8rem;
    }
}