.shelf {
    background-color: #E3D3BA;
    border-radius: 0.24rem;
    box-shadow: 0px 9px 12px -3px rgb(100, 75, 54);
    height: 0.9rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

.row {
    min-height: 9.5rem;
}

.cover {
    max-height: 175px;
}

.savedList {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    justify-content: space-evenly;
    padding: 20px 60px;
    min-height: 9.5rem;
}