@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.row {
    height: 90%;
}

.col-6 {
    font-family: 'Inter', sans-serif;
    color: #644B36;
}

.h4 {
    margin-top: 30px;
    padding-left: 60px;
}

.divider {
    border-top: 1px solid #644B36;
    margin-left: 60px;
}

.cover {
    margin-top: 30px;
}

.col-2 {
    display: flex;
    flex-direction: column;
    gap: 150px;
    justify-content: center;
    align-items: center;
}

.swipeBtn {
    width: 100px;
}