@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.error {
    color: rgb(174, 25, 45);
    font-family: 'Inter', sans-serif;
    font-size: large;
    padding: 8px;
    margin-top: 2rem;
    text-align: center;
}

.header {
    font-family: 'Inter', sans-serif;
    color: #403022;
    text-align: center;
    padding: 4px;
    margin-bottom: 1rem;
}
.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn {
    background-color: #C58882;
    border-radius: 50px;
    padding: 10px 20px;
    color: #644B36;
    font-family: 'Inter', sans-serif;
    font-size: 16pt;
    width: 40%;
    box-shadow: 0 0 4px #644B36;
}

.select {
    width: 40%;
    border-radius: 50px;
    padding: 10px 20px;
    font-family: 'Inter', sans-serif;
    font-size: 16pt;
    box-shadow: 0 0 4px #644B36;
    text-align: center;
}

.selectGenre {
    margin-left: auto;
}

